:root{
	--mainColor:#6b5668;
	--secondaryColor:#5a4853;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(90, 72, 88, 0.8);
	--previewShadow:#2f252d;


	--buttonColor:#8f6699;


}
